.mymenu{
    height:150px;
    width:100%;
    background-color: blue;
    color:white;
    text-align: center;
}

.head h2,h3{
margin-top: 10px;    

}


@media only screen and (max-width: 768px) {
    .mymenu{
        height:250px;
        width:100%;
        background-color: blue;
        color:white;
        text-align: center;
        font-size: smaller;
    }
    
.head h2,h3{
    margin-top: 10px;    
    font-size: small;
    
    }
}