.try{
    display: inline-flex;
    width: 100%;
}
.slide1{
    width: 45%;
    margin-left: 7%;
}
.slide2{
    width: 45%;
}
.snap{
    width: 60%;
    height: 40%;
}



@media only screen and (max-width: 768px) {
    .try{
        display: inline-block;
        width: 100%;
        text-align: justify;
    }
    .slide1{
        width: 90%;
    }
    .slide2{
        width: 90%;
    }
    .snap{
        width: 40%;
        height: 40%;
        text-align: center;
    }
}