
.walk-cart{
    width: 100%;
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-bottom: 30px;
}
.walk-cart p{
    font-size: 18px;
}
.walk-cart .icon{
    margin:60px 10px auto 30%;
}
.course-cart{
    width: 100%;
    height: inherit;
    padding: 30px 0px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
}
.course-cart .btn01{
    width: 100%;
    height: 45px;
}
/*  */
.flexwrap{
    display: flex;
    text-align: center;
    justify-content: center;
}
@media only screen and (max-width:768px){
    .header-cart{
        color: #fff;
        background-color: blue;
        padding: 20px 0 10px 30px;
        height: 200px;
        /* width: 100%; */
    }
    .head> img{
        width: 60%;
        margin: 35px auto auto auto;
    }
    .purchase-cart{
        border: 1px solid black;
        border-radius: 7%;
        width: 100%;
        height: 600px;
        position: relative;
        margin: 10px auto auto 0;
        background-color: white;
    }
    .walk-cart{
        width: 100%;
        margin: 20px auto auto 0;
        border-radius: 0%;
        /* width: 100%; */
        display: flex;
        height: 300px;
        background-color: whitesmoke;
        text-align: center;
        border: 1px solid black;
    }
    .wrap-cartSuccess{
        display: block;
    }
    .course-cart{
        width: 100%;
        margin: 20px auto auto 0;
        border-radius: 0%;
        height: 300px;
        background-color: whitesmoke;
        border: 1px solid black;
    }
    .cart-CRT{
        margin: 1px 0 0 100px;
    }
    .header1 img{
        width: 50%;
        margin: 40px auto auto -260px;
    }
    .more-info-cart{
        width: 100%;
        margin: 50px auto auto 0px;
        border-radius: 0%;
        height: 100px;
        background-color: whitesmoke;
        border: 1px solid black;
    }
    .walk-cart .icon{
        margin:60px 10px auto 0%;
    }
    
}
/* @media only screen and (max-width:1024px){
    header{
        color: #fff;
        background-color: blue;
        padding: 20px 0 10px 30px;
        height: 200px;
       
    }
    .CRT{
        margin: -6px 0 0 800px;
    }
    header img{
        width: 30%;
        margin: 40px auto auto -500px;
    }
} */
@media only screen and (max-width:280px){
    .cart-CRT{
        margin: 1px 0 0 90px
    }
}
@media only screen and (max-width:240px){
    .cart-CRT{
        margin: 1px 0 0 40px
    }
}