body{
    width:100%;
}
.menu1{
    background-color: blue;
    height: 6em;
}
.cart{
    color: white;
    margin: -6% 95% -6% 95%;
}
.log{
    width: 15%;
    padding-top: 2em;
    padding-bottom: 2em;
    
}
@media screen and (max-width: 768px) {
    body{
        width: 100%;
        background-color: #DAE8FC;
    }
    .menu1{
        background-color: blue;
        height: 6em;
    }
    .cart{
        color: white;
        margin: -4.5em 80% auto 80%;
    }
    .log{
        margin: -2% auto -2% auto;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 50%;
    }
}
