.header1{
    color: #fff;
    background-color: blue;
    padding: 20px 0 10px 30px;
    width: 100%;
    height: 100px;
   
}
.header1 > img{
    width: 18%;
    margin: 0px auto auto auto;
    float: left;
}
.header > p{
    /* margin: auto auto auto auto; */
    font-size:30px ;
}
.CRT{
    margin: -20px auto auto 70em;
}

.CRT > p{
    margin: -20px auto auto 0;
}
.wrap-cart{
    display: flex;
}
.cart-wrapper{
    /* width: 90%; */
    text-align: center;
}
.purchase{
    border: 1px solid black;
    border-radius: 30px;
    width: 25%;
    height: 600px;
    position: absolute;
    margin: -5% auto auto 65%;
    background-color: white;
}
.purchase h3{
    margin: 150px auto auto auto;
}
.purchase p{
    margin: 40px auto auto auto;
}

.purchase .btn-1{
    margin:40px auto auto auto;
    width:70%;
    color: white;
    background-color: #ff3333;
}
.purchase .btn-2{
    margin:40px auto auto auto;
    width:70%;
    color: white;
    background-color: black;
}
.walk{
    width: 50%;
    margin: 50px auto auto 100px;
    border-radius: 0%;
    display: flex;
    height: 200px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
}
.walk h3{
    margin: 70px auto auto auto;
}
.walk p{
    margin: 40px auto auto auto;
}
.walk .icon{
    margin:60px 10px auto 30%;
}
.course{
    width: 50%;
    margin: 50px auto auto 100px;
    border-radius: 0%;
    height: 300px;
    background-color: whitesmoke;
    padding: 20px;
    border: none;
}
.course h3{
    margin: 70px auto auto auto;
}
.course p{
    margin: 10px auto auto auto;
}
.more-info{
    width: 85%;
    margin: 70px auto auto 7%;
    border-radius: 0%;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid black;
}
.more-info h3{
    margin: 40px auto auto auto;
}
@media only screen and (max-width:768px){
    header{
        color: #fff;
        background-color: blue;
        padding: 20px 0 10px 30px;
        height: 200px;
       
    }
    .purchase{
        border: 1px solid black;
        border-radius: 7%;
        width: 100%;
        height: 600px;
        position: relative;
        margin: 10px auto auto 0;
        background-color: white;
    }
    .walk{
        width: 100%;
        margin: 20px auto auto 0;
        border-radius: 0%;
        /* width: 100%; */
        display: flex;
        height: 300px;
        background-color: whitesmoke;
        text-align: center;
        border: 1px solid black;
    }
    .wrap-cart{
        display: block;
    }
    .course{
        width: 100%;
        margin: 20px auto auto 0;
        border-radius: 0%;
        height: 300px;
        background-color: whitesmoke;
        border: 1px solid black;
    }
    .CRT{
        margin: 1px 0 0 200px;
    }
    header img{
        width: 50%;
        margin: 40px auto auto -260px;
    }
    .more-info{
        width: 100%;
        margin: 50px auto auto 0px;
        border-radius: 0%;
        height: 100px;
        background-color: whitesmoke;
        border: 1px solid black;
    }
    .walk .icon{
        margin:60px 10px auto 0%;
    }
    
}
/* @media only screen and (max-width:1024px){
    header{
        color: #fff;
        background-color: blue;
        padding: 20px 0 10px 30px;
        height: 200px;
       
    }
    .CRT{
        margin: -6px 0 0 800px;
    }
    header img{
        width: 30%;
        margin: 40px auto auto -500px;
    }
} */