
.codeImg {
    float: left;
    margin: 50px 0 0 -60px;
}

.LeftText {
    float: right;
    margin: -120px 30px 0;
    width: 60%;
    text-align: left;
}

.clear {
    clear: both;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .codeImg {
        margin-left: -95px;
    }

    .LeftText {
        margin-right: 25px;
    }
}

@media screen and (max-width: 968px) {
    .LeftText {
        /* margin: -80px 0 10px 0; */
        position: relative;
        left: 20px;
    }

    .codeImg {
        margin-left: -95px;
    }
}