body {
    font-family: 'open Sans' ,sans-serif;
    background-color: #fff;
}
.header{
    color: #fff;
    background-color: blue;
    padding: 30px 0 60px 10px;
}
.header 
.ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    float: right;
    text-decoration: none;
}
.header img{
    width: 10%;
}
.input01{
    margin: 0 0 0 10px;
    display: flex;
}
.billing{
    margin: 0 0 0 100px;
    text-align: left;
}
.wrap-flex{
    display: flex;
}
.summary{
    width: 30%;
    border: 1px solid black;
    margin: -200px 0 0 100px;
    text-align: center;
    height: 490px;
}
.wrap-form-sum{
    display: flex;
}
.btn-comp{
    width: 80%;
}
.p-p{
    text-align: left;
    margin:10px 0 10px 10px ;
}
#form-control{
    margin: 0 0 0 15px;
}
#form-Control{
    margin: 0 0 0 15px;
}
#form-sec{
    margin: 0 0 0 20px;
}

@media only screen and (max-width:768px){
    .billing{
        margin: 0 0 0 15px;
        text-align: left;
    }
    #form-pay{
        width: 98%;
        margin: 0 0 0 2px;
    }
    .wrap-form-sum{
        display: block;
    }
    .summary{
        width: 98%;
        border: 1px solid black;
        text-align: center;
        margin: 40px 0 0 0px;
        height: 420px;
    }
    .wrap-flex{
        display: block;
    }
    #form-control{
        margin: 10px 0 0 0px;
        width: 98%;
    }
    #form-Control{
        margin: 20px 0 10px 0;
        width: 98%;
    }
    #form-sec{
        width: 98%;
    }
    #img{
        width: 70%;
    }
    
}