
.join{
    display: flex;
    background-color: #CFCFCF;
    font-size: xx-large;
}
.title{
    margin: 5% 15% 5% 15%;
    font-weight: bolder;
    padding: 90px;
}
.texts{
    width: 40%;
    margin: 10% 0% 10% 0%;
    text-align: center;
}
.all{
    width:90%;
    display: flex;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5% 0 auto 5%;
    background-color: whitesmoke;
}
.all1{
    width:90%;
    display: flex;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5% 0 auto 5%;
    background-color: whitesmoke;
}
.all2{
    width:90%;
    display: flex;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5% 0 auto 5%;
    background-color: whitesmoke;
}
.size{
    width: 50%;
}
.size1{
    width: 80%;
}
.size2{
    width: 50%;
}
.sizer{
    width: 90%;
}
.shuffler{
    font-size: xx-large;
    margin:0 auto auto 3em;
}
.shuffle{
    font-size: xx-large;
    margin:0 auto auto 3em;
}
/* FOOTER STYLES */
.foot{
    background-color: whitesmoke;
    width: 100%;
    height: 5em;
    margin: 10% auto 0 0;
    bottom: 0;
}
.ryt{
    padding-top: 1.5em;
    text-align: center;
    font-size: larger;

}
@media screen and (max-width: 768px) {
    body{
        width: 100%;
        background-color: #DAE8FC;
    }
    .join{
        display: flex;
        background-color: #CFCFCF;
        font-size: larger;
    }
    .title{

        margin: 5% -20% 5% -20%;
        font-weight: bold;
        padding: 90px;
    }
    .texts{
        width: 40%;
        margin: 25% 15% 25% 15%;
        text-align: center;
    }
    .all{
        text-align: center;
        display: block;
        padding-top: 2%;
        margin: auto 10% auto auto;
        background-color: whitesmoke;
        width:100%;
    }
    .size{
        width: 80%;
        margin: auto 10% auto 10%;
    }
    .sizer{
        width: 80%;
        margin: auto 10% auto 10%;
    }
    .shuffle{
        margin:0 80% auto 0;
    }
}